{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-5 col-sm-offset-2">
				<!-- <div class="spacer"> -->
			<h1>Robotic Poetry</h1>
			<div id="lyric-box">
				{% if poem %}
					<div id="poem-wrapper">
					{% for line in poem %}
						<p>{{line}}</p>
					{% endfor %}
					</div>
				{% endif %}
			</div>
			<div class="row">

			<form action="/generate" method="POST">
				<div class="col-sm-4">
					<input type="submit" value="Generate" class="btn btn-danger pull-left">
				</div>
				<div class="col-sm-4">
					<div class="lines"> 
						<label for="numLines">Lines: </label> <input type="text" name="numLines" value="12">
					</div>
				</div>
			</form>
			
			<div class="col-sm-4">
			<form action="/save" method="POST">
				<input type="submit" name="save" class="btn btn-danger pull-right" value="Save"></button>
			</form>
			</div>
			
		</div>
	</div>
	<div class="col-sm-1 col-sm-offset-4">
		<a href="/about"><h3>About</h3></a>
	</div>
</div>
<script src="../public/main.js"></script>
{% endblock %}