{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-5 col-sm-offset-2">
			<h1>Robotic Poetry</h1>
			<div id="lyric-box" class="box">
				{% if poem %}
					<div id="poem-wrapper">
					{% for line in poem %}
						<p>{{line}},</p>
					{% endfor %}
					</div>
				{% endif %}
			</div>

			<div class="row controller">

			<form action="/generate" method="POST">

				<div>
					<div class="lines col-sm-6 col-md-6"> 
						<label for="numLines">How many lines? </label> <input type="text" name="numLines" value="12">
					</div>
				</div>

				<div class="col-sm-3 col-md-3">
					<input type="submit" value="Generate" class="btn btn-danger pull-left">
				</div>

			</form>
			
			<div class="col-sm-3 col-md-3">
				<button name="save" id="saveBtn"class="btn btn-danger pull-right">Save</button>
			</div>

		</div>
	</div>
	<div class="col-sm-1 col-sm-offset-4">
		<a href="/about"><h3>About</h3></a>
	</div>
</div>
<script src="../public/main.js"></script>
{% endblock %}