body {
	background-color: #ff00ff;
}

#lyric-box {
	height:70vh;
	width:100%;
	border-radius:16px;
	border:4px solid black;
	font-family: 'Covered By Your Grace', cursive;
}

h1{
	font-family: 'Brush Script MT', cursive;
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

a {
	color:black;
}

h3{
	font-family: 'Brush Script MT', cursive;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.lines {
padding-top: 10px;
}

button{
	font-family: 'Brush Script MT', cursive;
	width: 100%;
	height:2em;

}

#numLines{
	display:inline-block;
	width:3em;
	font-family: 'Brush Script MT', cursive;
	font-color:white;
	background-color:black;
	border-radius: 10px;
	font-size:24px;
}

.btn-danger{
	background-color:black;
	border-radius: 10px;
	font-size:24px;
}